.container {
  .btn {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
  .sign {
    height: 100px;
    width: 100px;
  }
  .sign_form {
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 50px;
  }
}
